
<h1>{{title}}</h1>

{{!-- <h1>This is a partial html</h1> --}}

<div class="nav">
    <a href="/">Weather</a>
    <a href="/about"> About </a>
    <a href="/help"> Help</a>
    {{!-- <a href="/contact"> Contact</a> --}}
</div>